* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;    
    transform: rotate(-45deg);
}

.container .box {
    position: relative;
    display: flex;
    left: -50px;
    justify-content: center;
    align-items: center;
    width: 100%;    
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: animateSurface 1.5s ease-in-out infinite; 
}

.container .box .cube {
    position: relative;
    width: 200px;
    height: 200px;
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4, 0 0 200px #03e9f4;
    transform-origin: bottom right;    
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    65% {
        transform: rotate(85deg);
    }
    70% {
        transform: rotate(90deg)
    }
    75% {
        transform: rotate(87.5deg);
    }
    80%, 100% {
        transform: rotate(90deg);
    }
}

@keyframes animateSurface {
    
    0% {
        transform: translateX(0px);
        transform: translateY(0px);
        
    }

    100% {
        transform: translateX(-200px);        
    }
}